{% extends "base.html" %}

{% block home %}
	<body>
		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index">Hip Hop Congress Blog</a></strong> @ U of M</h1>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="blog">Blog</a></li>
						<li><a href="events">Events</a></li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container" id='blogcontainer'>

					<header class="major special">
						<h2>Hip Hip Congress</h2>
						<p>Read about what we've been up to</p>
					</header>

					<a href="#" class="image fit" id="staticblogpic"><img src="static/images/concertdark.jpg" alt="" /></a>
					<hr>
				</div>
			</section>
{% endblock %}
