{% extends "base.html" %}

{% block home %}
<body class="landing">
<!-- Header -->
	<header id="header">
		<h1><strong><a href="index">Hip Hop Congress</a></strong> @ U of M</h1>
		<nav id="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="blog">Blog</a></li>
				<li><a href="events">Events</a></li>
				<li><a href="contact">contact</a></li>
			</ul>
		</nav>
	</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Hip Hop Congress</h2>
				<p><br />connecting you to hip hop music, <br>culture, people and knowledge</p>
				<ul class="actions">
					<li><a href="blog" class="button special big">Learn more</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>we are:</h2>
									<p>an organization comprised of students, artists, activists, and more</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>We aim to promote hip hop culture on campus and in the community. We also try to address social and political issues related to hip hop with element exhibitions, concerts, film screenings, panels, and workshops.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>past and current events</h2>
							<p>at our U of M campus</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="static/images/summit2016.jpg" alt="" />
									<h3>Hip hop summit 2016</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="static/images/summit2014.jpg" alt="" />
									<h3>Hip hop summit 2014</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="events" class="button special big">More Events</a></li>
							<li><a href="blog" class="button big">Blog</a></li>
						</ul>
					</div>
				</section>

			<!-- Three -->
				<!-- <section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Coordinators</h2>
							<p>Or other equivalent people that run HHC.</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="static/images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lorem ipsum</h4>
										<p>Lorem ipsum dolor sit</p>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Recusandae nemo</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laudantium fugit</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Porro aliquam</h4>
										<p>Quaerat, excepturi eveniet laboriosam</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section> -->

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Want to join us?</h2>
							<p>Send us an email!</p>
						</header>
						<ul class="actions">
							<!--  CHANGE THIS TO CONTACT URL -->
							<li><a href="contact" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>
{% endblock %}
